.icone-accueil {
    display: inline-flex;
    position: absolute;
    left: 20px;
    z-index: 10;
    align-items: center;
}

.icone-accueil p {
    font-size: 1.5em;
    padding-left: 5px;
    color: #fff;
    font-family: "Covered By Your Grace";
}

.icone-accueil img {
    height: 32px;
    width: 32px;
}

.video_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    position: relative;
}

.video_container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("/images/slide5.jpg") no-repeat center center;
    background-size: cover;
    opacity: 1;
    z-index: -1;
}

#typedtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 400px;
    align-items: center;
    font-size: 3.8em;
    font-weight: 800;
    color: #fff;
    font-family: "Covered By Your Grace";
    text-align: center;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    height: 230px;
    margin: 10px 15px;
    border-radius: 50%;
    box-shadow: rgba(100,100,111,.1) 0 7px 109px 0;
    background: rgba(255, 255, 255, 1);
    position: relative;
    cursor: pointer;
    overflow: hidden;
    
}

.video.alone,
.video.accompanied {
    opacity: 0;
    transition: opacity 0.8s ease-in, transform 0.3s;
}

.video.alone:hover,
.video.accompanied:hover {  
    transform: scale(1.15);
}


.video_aloneElement {
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: 900;
    color: #FFFFFF;
}

video {
    height: 230px;
    position: relative;
}

.alone::before {
    content: "alone";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
    font-size: 2.5em;
    color: hsl(58, 87%, 70%);
    font-family: "Covered By Your Grace";
}

.accompanied::before {
    content: "accompanied";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
    font-size: 2.5rem;
    color: hsl(58, 87%, 70%);
    font-family: "Covered By Your Grace";
}